 <div><div class="min-vh-100 bg-theme">
    <div
      class="container mx-auto p-2 d-flex align-items-centre justify-content-around flex-wrap"
    >
<h1>Display the ECU data here</h1>
      
    </div>
  </div>
  </div>